@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Article>
<h1>Delete</h1>

<div class="container">

    @if (Model.Any())
    {

        @foreach (var x in Model.OrderBy(x => x.PublishDate))
        {

            <div class="row">
                <button type="button" class="btn btn-primary"><a asp-controller="Article" asp-action="Delete" asp-route-Id=@x.Id>Delete</a></button>@x.Title
            </div>
            <div class="w-100"></div>

        }

    }
    else
    {
        <textarea>There is no aticles!</textarea>
    }
</div>