@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Article>
@section Scripts{

    <script>
        function load() {
            var e = document.getElementById('titles');
            var id = e.options[e.selectedIndex].value;
            var Id = parseInt(id);
            
            $('#container').load("/EditPartialView/TableSeeder/" + Id);
           
        }
    </script>
}

<h1>Edit</h1>
<form id="id_select">
    <label for="article">Choose an article to edit:</label>
    <select id="titles" onchange="load()">
        <option selected disabled>Choose article from list</option>
        @foreach (var x in Model)
        {
            <option value=@x.Id>@x.Title</option>
        }
    </select>
    <br><br>
</form>

<div id="container">
</div>