@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Blog.Models.Article

    <div class="row">
        @using (Html.BeginForm("MyEdit", "Article"))

        {<div class="col">
                <div>Title</div>
                @Html.TextBoxFor(item => item.Title, new { style = "width: 15em;" })
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div>Content</div>
                @Html.TextBoxFor(item => item.Content, new { style = "width: 30em; height:17em;" })

                <div class="w-100"></div>
            </div>
            <div class="col">
                <div>Category Id</div>
                @Html.TextBoxFor(item => item.CategoryId, new { style = "width: 1em;" })
            </div>
            <div class="w-100"></div>
            <br />
            <div class="col">
                <input type="submit" class="btn btn-primary btn-sm" value="Click" />
            </div>
            @Html.Hidden("id", Model.Id)
        }
    </div>